
/* 
	////////////////////////
	SMACCS!
	////////////////////////
*/


/*
	BASE
*/
h1,h2,h3,h4,h5,h6{
	font-family:'Roboto Slab', 'Roboto', sans-serif;
}
html{color:#fff;}

.intoExplore{
background: url('http://www.clker.com/cliparts/J/j/A/F/7/O/world-map.svg') no-repeat center center;
background-size: cover;
}

.intoExplore h1{
	color:black;
	padding-bottom: 4em;
}

/*

	MODULES

*/
div.warning{background:#FBC02D;}

.route-btn{margin-top:1em;width:100%;}
.no-margin{margin:0!important;}
.responsive-image{width:200px;}
.route-cont{margin-bottom:0;}
.route-cont iframe{height:81vh;}
.route-creator span{margin-left:0.5em;}
.route-creator img{width:2.5rem;}
.route-created-by{height:68px;}
/* 

	THEME

*/

.dark-primary-bg{
	background:#0288D1;
	background-color:#0288D1 !important;
}
.primary-bg{
	background:#03A9F4;

}	
.primary-card{

	color:#0288D1;
}

.light-primary-bg{
	background:#B3E5FC;
}
.accent-bg{
	background:#8BC34A;
}

.accent {
	color:#8BC34A !important;
}
.white-text{
	color:#FFFFFF;
}
.primary-text{
	color:#212121;
}
.primary-bg-text{
	color:#03A9F4;
}
.divider{
	color:#B6B6B6;
}
.warning-text{
	color:#FFEB3B;
}
.warning-bg{
	background: #FFEB3B;
}


.row .media-item {
	overflow: hidden;
  width:  120px;
  height: 100px;
  float: left;
  background:url('../img/placeholder.png')no-repeat center center / cover;
}

.media-item.w2 { width:  240px; }
.media-item.w3 { width:  360px; }
.media-item.w4 { width:  480px; }

.media-item.h2 { height: 200px; }
.media-item.h3 { height: 300px; }
.media-item.h4 { height: 400px; }